.containerForLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}

.divForLoginInputsInLogin {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 90%;
  height: 90%;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
}

.divForLogInText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 25px;
  font-weight: bold;
}

.loginInput {
  display: flex;
  flex-direction: column;
  height: 80px;
}

/* .loginEmail {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 30px;
}

.loginPassword {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 30px;
} */

.conatinerForUnderlineButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.underlineButton {
  text-decoration: underline;
}

.divForLoginButtonsInLogin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.buttonLoginInLogin {
  width: 100%;
  height: 40px;
  background-color: lightskyblue;
  border-radius: 10px;
}

.buttonForgotPasswordInLogin {
  width: 150px;
  height: 40px;
}
