.contanerForOrderAndPaymentComponent {
  width: 100%;
  background-color: white;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

.deliveryAndPayment {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.textDeliveryMethod {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.containerForDeliveryMethod {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  margin-top: 20px;
  border-radius: 10px;
}

.radio-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.radioStack > label:hover {
  border: 1px solid black;
  border-radius: 10px;
}

.selectedRadio {
  border: 1px solid black;
  border-radius: 10px;
}

.deliveryAdress {
  margin-bottom: 10px;
}

.containerForShippingDetails {
  width: 100%;
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerForDeliveryFormInputs {
  display: flex;
  flex-direction: column;
}

.shippingDetailsInput {
  margin-bottom: 10px;
}

.conatinerForInforAboutSendingEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.containerForOtherInvoiceData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
}

.divForPaymentLogoAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
