.containerForSummaryBeforePayment {
  display: flex;
  flex-direction: column;
}

.containerForDeliveryDetails {
  margin-top: 10px;
}

.SummaryBoldText {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.containerForSummaryDetails {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.divForHeaderInSummaryAndChangeIcon {
  display: flex;
  justify-content: space-between;
}

.headerBiggerFont {
  font-size: 18px;
  font-weight: bold;
}

.changeTextMarginLeft {
  margin-left: 10px;
}

.containerForDetailsUnderHeader {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
}

.containerForUserDetailsInSummary {
  display: flex;
  flex-direction: column;
}

.containerForLi {
  list-style-type: disc;
  padding-left: 20px;
}

.containerForPhotoOfProductWithDescription {
  display: flex;
  flex-direction: row;
}

.containerForPhotoInSummary {
  display: flex;
  justify-content: center;
  width: 150px;
  height: auto;
  /* width: auto;
  height: auto; */
}

.photoOfProductInSummaryOrder {
  padding: 5px;
  width: 200px;
  height: auto;
}

.containerForProductDetailsInSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

.nameOfProductInSummary {
}

.divForFriceBeforeInSummary {
  display: flex;
  justify-content: flex-end;
  text-decoration: line-through;
  font-size: 13px;
}

.containerForQuantityAndPriceInSummary {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.containerForCheckboxAndTextInSummary {
  background-color: white;
  /* padding-bottom: 20px; */
  margin: 20px 0px;
  padding: 20px 15px 20px;
}

.addComentToOrder {
  border: 1px solid lightgray;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .containerForSummaryBeforePayment {
    display: flex;
    flex-direction: row;
  }

  .containerForSummaryDetails {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    margin-top: 40px;
    border-radius: 10px;
  }

  .containerForPhotoInSummary {
    display: flex;
    justify-content: center;

    height: auto;
  }

  .photoOfProductInSummaryOrder {
    padding: 20px 20px 10px 20px;
    height: auto;
    width: 200px;
  }

  /* .photoOfProductInSummaryOrder {
    padding: 5px;
    width: 200px;
    height: auto;
  } */

  .nameOfProductInSummary {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .containerForPhotoOfProductWithDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .containerForProductDetailsInSummary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 90%;
  }

  .divForFriceBeforeInSummary {
    display: none;
  }

  .containerForQuantityAndPriceInSummary {
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
  }

  .quantityInSummary {
    padding-right: 20px;
  }

  .conatinerForPaymentSummary {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 50px;
    margin-right: 150px;
    margin-top: 95px;
  }
}
