.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: white;
}

.bg-gray {
  background-color: rgb(247, 247, 247) !important;
}

.loginList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 7px;
  width: 390px;
  height: 772px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
}

.loginText {
  margin-top: 20px;
  font-size: 30px;
}

.divForLoginBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.logInByGoogle {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

.lineBetweenLogin {
  width: 70%;
  height: 5px;
  border-bottom: 1px solid black;
}

.divForLoginInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 300px;
  padding-top: 10px;
  margin-top: 25px;
}

.labelEmail {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.emailInput {
  padding: 10px;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid darkgrey;
}

.labelPassword {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.passwordInput {
  padding: 10px;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid darkgrey;
}

.divForForgotPasswordButton {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
}

.forgotPasswordButton {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
  font-weight: 500;
}

.buttonLogIn {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

.divForRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100px;
  margin-top: 150px;
}

.buttonRegister {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

.divScrollingContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* overflow: auto; */
}

.divForActualCoupon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* z-index: 1; */
  width: 100%;
  height: 150px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 10px 0px 10px 0px;
  background-color: rgb(241, 239, 239);
  padding: 10px 10px 10px 10px;
}

.coupon {
  height: 50%;
  width: 100%;
  background-color: white;
}

.couponName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.couponCode {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.containerForCategoriesOfProducts {
  display: flex;
  overflow-x: auto;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  gap: 10px;
  padding-bottom: 20px;
}

.containerForCategoriesOfProducts::-webkit-scrollbar {
  display: none;
}

.containerForCategoriesOfProductsDesktop {
  display: none;
}

.containerForScrollablePromoPhotosOnDesktop {
  display: none;
}

.categoryContainerForIMGAndName {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 0 4px 2px -2px lightgray;
  background-color: white;
  padding: 5px 0px;
}

.centeredText {
  bottom: 5px;
  text-align: center;
}

.containerForScrollablePromoPhotos {
  margin-top: 10px;
  width: 100%;
  height: 190px;
  overflow-x: scroll;
}

.containerForScrollablePromoPhotos::-webkit-scrollbar {
  display: none;
}

.divForPhotos {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
}

.containerForUnBoxAndRecommendedOnDesktop {
  display: none;
}

.containerForUnBoxOnHomepage {
  width: 100%;
  height: 450px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.unBoxLoterryDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  box-shadow: 0 4px 2px -2px lightgray;
  border-radius: 20px;
  background-color: rgb(246, 243, 251);
  padding: 0px 10px;
}

.divForBoxesTextAndButtonLottery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
}

.loterryButton {
  width: 100%;
  margin: 0px 10px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(38, 135, 220);
  color: white;
  font-size: 18px;
}

.centeredPhoto {
  border-radius: 10px;
  margin-right: 10px;
  height: 170px;
}

.containerForRecommended {
  border: 1px solid lightgray;
  width: 100%;
  height: 400px;
  padding-left: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.weRecommendText {
  font-size: 25px;
  font-weight: 600;
}

.containerForRecommendedProducts {
  display: flex;
  justify-content: space-between;
  height: 350px;
  padding-left: 10px;
  overflow-x: scroll;
  background-color: white;
}

.containerForRecommendedProducts::-webkit-scrollbar {
  display: none;
}

.infoAboutRecommendedProduct {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin-bottom: 5px;
  font-size: 13px;
  border-radius: 5px;
  width: 60px;
  height: 20px;
  margin-top: 20px;
  color: black;
  justify-content: center;
  background-color: white;
}

.selectedForYouText {
  font-size: 25px;
  font-weight: 600;
}

.textUnderSelectedForYouText {
  color: rgb(93, 93, 93);
}

.containerWithPropositionForClient {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 100%;
  height: 420px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 20px;
  background-color: white;
  position: relative;
}

.divWithPropositionForClient {
  display: flex;
  height: 350px;
  padding-left: 10px;
  overflow-x: auto;
}

.divWithPropositionForClient::-webkit-scrollbar {
  display: none;
}

.containerForProductInSelectedForClient {
  flex-shrink: 0;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding-top: 50px;
  row-gap: 15px;
  height: 100%;
}

.infoAboutProductsForClient {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin-bottom: 5px;
  font-size: 13px;
  border-radius: 5px;
  width: 60px;
  height: 20px;
  margin-top: 20px;
  color: black;
  justify-content: center;
  background-color: white;
}

.containerForHotShotDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.hotShotDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 540px;
  margin: 20px;
  border: 2px solid red;
  border-radius: 20px;
  background-color: white;
}

.hotShotText {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 10px;
}

.saveXPercentDiv {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  border: 1px solid black;
  background-color: rgb(111, 111, 111);
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 0px;
  border-radius: 5px;
}

.smallerTextSave {
  font-size: 13px;
}

.containerForHotShotIMG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  margin-top: 10px;
}

.nameOfHotShotProduct {
  display: flex;
  text-align: center;
  width: 300px;

  font-size: 20px;
}

.divForPriceInHotShot {
  height: 60px;
}

.priceInHotShot {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}

.lowestPriceBeforeDiscountDiV {
  display: flex;
  font-size: 12px;
  margin-left: 20px;
  color: rgb(93, 93, 93);
  font-weight: 500;
  line-height: 5px;
}

.lowestPriceBeforeDiscount {
  text-decoration: line-through;
}

.containerForProductsCountInHotShot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
}

.divForCountProducts {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 30px;
}

.xOfThemLeftDiv {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 20px;
  width: 150px;
  height: 30px;
}

.xOfThemSoldDiv {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 20px;
  width: 150px;
  height: 30px;
}

.smallerTextInHotShot {
  font-size: 15px;
  font-weight: 500;
  margin-right: 5px;
  padding-bottom: 3px;
}

.chwilowyContainerForPasek {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 12px;
}

.szaryPasek {
  width: 90%;
  height: 11px;
  background-color: rgb(219, 218, 218);
  border-radius: 5px;
  border: 1px solid gray;
}

.chwilowyDivPasek {
  width: 80%;
  height: 10px;
  background-color: rgb(112, 180, 229);
  border-radius: 5px;
}

.containerForTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.textInTimer {
  padding-top: 5px;
  font-size: 14px;
}

.hotShotTimer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

.centerTimeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.hourInHotShotTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(213, 213, 213);
}

.colonInTimer {
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 0px 5px;
  height: 60px;
}

.minuteInHotShotTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(213, 213, 213);
}

.secondInHotShotTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(213, 213, 213);
}

.containerForTextAndProductsInWeekendHits {
  display: none;
}

.ourProductsText {
  display: flex;
  justify-content: center;
  margin: 15px 0px 25px 0px;
  font-size: 25px;
}

.containerForCardsWithProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.categoryCard {
  margin-bottom: 20px;
}

.categoryTitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.containerForCardWithProduct {
  width: 100%;
  border-bottom: 1px solid rgb(199, 199, 199);
  background-color: plum;
}

.containerForPhotoInHomepageProductCart {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  padding-top: 10px;
  background-color: white;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 120px;
  padding-left: 20px;
  background-color: white;
  font-size: 15px;
}

.productName {
  font-size: 25px;
}

.priceAndCartContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 90px;
  padding: 0px 20px;
  background-color: white;
}

.DivWithFreeDelivery {
  display: flex;
  flex-direction: column;
}

.Productprice {
  font-size: 25px;
}

.freeDeliveryText {
  color: rgb(13, 167, 54);
}

.divForCartInProductCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
  border: 2px solid rgb(15, 193, 63);
}

.containerForLotteryAndRecommendedProducts {
  display: flex;
  flex-direction: column;
}

.whereIsHotShotInformation {
  display: none;
}

@media only screen and (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-color: white;
  }

  .appWithMargin {
    display: flex;
    flex-direction: column;
    max-width: 1444px;
    width: 100%;
    align-self: center;
    margin: 0 20px;
  }

  .divScrollingContainer {
    background-color: white;
  }

  .containerForCategoriesOfProducts {
    display: none;
  }

  .containerForScrollablePromoPhotos {
    display: none;
  }

  .containerForScrollablePromoPhotosOnDesktop {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
  }

  .divForPhotosOnDesktop {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
  }

  .prevPictureButton {
    position: absolute;
    left: -25px;
  }

  .centeredPhotoOnDesktop {
    width: 100%;
    height: 100%;
  }

  .nextPictureButton {
    position: absolute;
    right: -25px;
  }

  .containerForUnBoxAndRecommendedOnDesktop {
    display: flex;
    width: 90%;
    height: 600px;
    margin-left: 50px;
    background-color: white;
  }

  .containerForUnboxAndHotShotInformation {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .containerForRecommended {
    border: 0px;
    width: 100%;
    height: 100%;
  }

  .containerForRecommendedProducts {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-content: space-between;
    padding: 1px;
  }

  .containerForLotteryAndRecommendedProducts {
    display: flex;
    flex-direction: row;
    height: 650px;
    column-gap: 30px;
    /* justify-content: space-between; */
  }

  .containerTorLotteryAndHotShotInformation {
    display: flex;
    flex-direction: column;
  }

  .unBoxLoterryDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 100%;
    border: 1px solid lightgray;
    box-shadow: 0 4px 2px -2px lightgray;
    border-radius: 20px;
    background-color: rgb(246, 243, 251);
    padding: 0px 10px;
  }

  .whereIsHotShotInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 100%;
    height: 120px;
    margin: 20px 0px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    font-size: 14px;
    row-gap: 5px;
  }

  .boldTextInWhereIsHotShot {
    font-size: 18px;
    font-weight: bold;
  }

  .infoAboutRecommendedProduct {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    margin-bottom: 5px;
    font-size: 13px;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    margin-top: 0px;
    color: black;
    justify-content: center;
    background-color: white;
  }

  .containerWithPropositionForClient {
    position: relative;
    border: 0px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    height: 380px;
    padding-left: 0;
    margin-top: 20px;
    background-color: white;
    padding-bottom: 10;
  }

  .divWithPropositionForClient {
    height: 300px;
    overflow-x: scroll;
    width: calc(100vw - 40px);
    max-width: 1444px;
  }

  .containerForProductInSelectedForClient {
    flex-shrink: 0;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-top: 50px;
    row-gap: 15px;
    height: 100%;
    margin-right: 40px;
  }

  .nextListButton {
    position: absolute;
    top: 50%;
    right: 0;
    /* right: 50px; */
    /* top: 150px; */
  }

  .containerForHotShotAndWeekendHits {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .containerForHotShotDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 600px;
  }

  .containerForTextAndProductsInWeekendHits {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

  .textWeekendHits {
    font-size: 25px;
    font-weight: 600;
  }

  .containerForWeekendHits {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-content: space-between;
    margin-top: 10px;
  }
}
