.containerForProduct {
  display: flex;
  flex-shrink: 0;
  width: 160px;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  row-gap: 15px;
  padding-top: 20px;
}

.cartOnHover {
  display: none;
}

.infoAboutRecommendedProductInRecommended {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0px 4px;
}

.containerForPriceInRecommended {
  margin-top: auto;
  position: relative;
}

.containerForTextLowestPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
  color: gray;

  position: relative;
  top: 0px;
  left: 0px;
  font-size: 14px;
  width: 150px;
  text-wrap: pretty;
}

.oldPrice {
  text-decoration: line-through;
}

@media only screen and (min-width: 768px) {
  .containerForProduct {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(25% - 15px);
    height: calc(50% - 10px);
    align-items: center;
    position: relative;
    /* padding: 30px 20px; */
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    row-gap: 0px;
  }

  .containerForProduct:hover {
    box-shadow:
      rgba(0, 0, 0, 0.08) 0px 2px 4px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
    border-radius: 10px;

    .cartOnHover {
      position: absolute;
      bottom: 0px;
      right: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid lightgray;
      border-radius: 5px;
      width: 40px;
      height: 40px;
      padding: 0px 10px;
      cursor: pointer;
    }

    .cartInProductsContainer {
      color: rgb(15, 193, 63);
    }
  }

  .infoAboutRecommendedProductInRecommended {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 80px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 14px;
  }

  .containerForPriceInRecommended {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    margin-top: auto;
    padding-top: 0px;
    position: relative;
    width: 100%;
  }

  .containerForTextLowestPrice {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    font-size: 14px;
    padding-right: 10px;
    text-wrap: pretty;
    color: gray;
  }

  .oldPrice {
    text-decoration: line-through;
    padding-left: 5px;
  }

  .actualPriceUnderLowestPrice {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .cartOnHover {
    display: none;
  }

  .cartOnHover:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: rgb(15, 193, 63);

    .cartInProductsContainer {
      color: white;
    }
  }
}
